
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoTEmbeb</title>
    <style>
        h1 {
            color: red;
            display: block;
        }

        .body {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .button {
            font-size: 40px;
        }
    </style>
    <script></script>
</head>
<body class="body">
    <h1>IoT Embeb</h1>
    <button class="button" onclick="foo()">Click me</button>
    <script>
        function foo() {
          alert("Hello :)");
        }
    </script>
</body>
</html>
